var new_comment = $("<%= escape_javascript(render(:partial => @comment)) %>").hide();
$('#comments').prepend(new_comment); // add new comment to beginning of comments div
$('#comment_<%= @comment.id %>').fadeIn('slow'); // fade in the new comment
$('#new_comment')[0].reset(); // reset the form